
img {border: 0}

a {text-decoration: none; color: darkblue}
a:hover {color: blue}

pre {font-size:9pt; font-family: 'Roboto Mono'}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(RobotoMono.ttf) format('truetype');
}
