body {font-family: Helvetica, Arial, sans-serif}
img {border:0px}
table {
  border-width: 1px 1px 1px 1px;
  border-spacing: 1px;
  border-style: solid;
}
td {
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  border-style: solid;
}
td.busy {background-color:#DFD}
span.dim {color:gray}
span.trace {color:gray; font-size:65%}
div.ok {color:green}
div.error {color:red}
