body {font-family: Helvetica, Arial, sans-serif}
img {border:0px}
table.frame {
  border-width: 0px 0px 0px 0px;
  border-spacing: 0px;
  border-style: none;
}
td.frame {
  border-width: 0px 0px 0px 0px;
  padding: 5px;
  border-style: none;
  vertical-align: top;
}
td.frame-buttons {
  vertical-align: bottom;
}
td.frame-text {
  width: 100%;
}
table.status {
  border-width: 1px 1px 1px 1px;
  border-spacing: 1px;
  border-style: solid;
  width: 100%;
}
td.status {
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  border-style: solid;
}
td.status-name {
  width: 100%;
}
td.status-offline {
  color: gray;
}
div.autoscroll {
    vertical-align: top;
    overflow-y: auto;
}
pre.log {color:gray}
span.dim {color:gray}
span.trace {
  color:gray;
  /*font-size:65%;*/
}
