body {font-family: 'Droid Sans', sans-serif}
pre {font-family: 'Roboto Mono', monospace}
.CodeMirror {
  font-family: 'Roboto Mono', monospace;
  font-size: small;
  border: 1px solid #eee;
  height: auto;
}
button {font-family: 'Droid Sans', sans-serif}
button.img {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
input[type="text"] {font-family: 'Droid Sans', sans-serif}
img {border:none}
img.jexler {width: 196px}
a {text-decoration: none; color: darkblue}
a:visited {color: darkblue}
a:hover {color: blue}

p.grengine {color: gray; font-size: x-small}
a.grengine {color: gray}
a.grengine:visited {color: gray}
a.grengine:hover {color: darkblue}

table.frame {
  border: none;
}
td.frame {
  padding: 5px;
  vertical-align: top;
}
td.frame-buttons {
  vertical-align: bottom;
}
td.frame-text {
  width: 100%;
}
table.status {
  border: 1px solid #eee;
  border-collapse: collapse;
  width: 100%;
}
tr.status:nth-child(even) {
  background-color: #eee;
}
td.status {
  padding: 1px 4px 1px 4px;
}
td.status-name {
  width: 100%;
}
td.status-offline {
  color: gray;
}
input#newjexlername {width: 25em}
div.autoscroll {
  vertical-align: top;
  overflow-y: auto;
}
img.wheel {padding: 2px}
pre.log {
  color:gray;
  font-size: small;
}
span.dim {color:gray}
span.trace {
  color:gray;
  font-size: small;
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(fonts/DroidSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(fonts/RobotoMono.ttf) format('truetype');
}
