<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
  <servlet>
    <servlet-name>Jexler</servlet-name>
    <servlet-class>net.jexler.webapp.JexlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jexler</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
      net.jexler.webapp.JexlerContextListener
    </listener-class>
  </listener>
</web-app>
